<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="main_project" />
    <working_directory value="$PROJECT_DIR$" />
    <envs>
      <env name="AUTO_MIGRATE" value="true" />
      <env name="DB_CONN_STRING" value="host=localhost port=15000 user=postgres dbname=server_db password=passw0rd sslmode=disable" />
      <env name="DB_DRIVER" value="postgres" />
      <env name="ELASTIC_HOST" value="localhost" />
      <env name="ELASTIC_PORT" value="15001" />
      <env name="HTTP_SERVER_HOST" value="[::]" />
      <env name="HTTP_SERVER_PORT" value="4040" />
      <env name="LOG_LEVEL" value="warn" />
      <env name="SEARCH_SERVICE" value="elastic1" />
      <env name="SECRET" value="123" />
      <env name="TRACE_SQL_COMMANDS" value="true" />
    </envs>
    <EXTENSION ID="software.aws.toolkits.jetbrains.core.execution.GoAwsConnectionRunConfigurationExtension">
      <option name="credential" />
      <option name="region" />
      <option name="useCurrentConnection" value="false" />
    </EXTENSION>
    <kind value="PACKAGE" />
    <package value="calend/cmd/server" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/cmd/server/main.go" />
    <method v="2" />
  </configuration>
</component>