<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="main_project" />
    <working_directory value="$PROJECT_DIR$" />
    <kind value="PACKAGE" />
    <package value="calend/cmd/server" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/cmd/server/main.go" />
    <method v="2" />
  </configuration>
</component>